<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>

<body id="reportsPage">
<div class="" id="home">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-xl navbar-light bg-light rounded">
                    <th:block th:include="~{/fragments/home-nav}"></th:block>
                </nav>
            </div>
        </div>

        <div style="color:orange" class="text-center mt-5">
            <h1>Hello and welcome to your Wallet!</h1>
            <hr class="my-3"/>
            <p class="h4">You can manage your finances here.</p>
            <hr class="my-3"/>
            <h3>
                <a class="text-primay" href="/wallet/expense">Expense</a>
                to remove money from your wallet.
                <a class="text-primay" href="/wallet/income">Add</a>
                to add some fresh money to your wallet. It wants it.
            </h3>
        </div>
        <footer class="row">
            <th:block th:include="~{/fragments/footer}"></th:block>
        </footer>
    </div>
</div>
</body>
</html>